* {
    margin: 0;
    padding: 0;
    border: 0;
}

div {
    display: block;
}

#ppl {
    min-width: 800px;
    min-height: 700px;
    font-family: "Microsoft YaHei";
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    display: block;
}

#container {
    position: relative;
    width: 800px;
    height: 700px;
    margin: 0 auto;
}

#ppl #container #bubbles {
    position: absolute;
    width: 800px;
    height: 700px;
    left: 0;
    top: 0;
}